<div class="book_list_page" ng-controller="BookListController as bookList">
    <h2>Books List</h2>

    <div class="search_box">
        <input type r="text" ng-model="bookList.searchByText" placeholder="Enter search text"/> <button ng-click="bookList.searchBooks()">Search</button> 
    </div>

    <div class="favorites_link" ng-if="bookList.favorites">
        <a href="/#!/favorites">Favorites</a>
    </div>


    <table border="1">
        <tr ng-repeat="item in filteredItems">
            <td>
                <div class="row book_item">
                    <div class="col-4 image_box">
                        <img ng-src="{{item.volumeInfo.imageLinks.thumbnail}}" />
                    </div> 
                    <div class="col-8 text_box">
                        <div class="book_name">{{item.volumeInfo.title}}</div>
                        <a href="/#!/book/{{item.id}}" class="book_name">More Info</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div data-pagination=""
        data-num-pages="numOfPages()"
        data-current-page="curPage"
        data-max-size="maxSize"
        data-boundary-links="true">
    </div>
</div>